.divContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.divContent{
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    width: 700px;
}
.divContent img{
    border: 2px solid black;
}
.mainH1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 650px;
    font-size: 18px;
    color: white;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 30px;
}

@media (max-width: 900px) {
    .divContent{
        width: 100%;
    }
}