<div class="main">
    <div class="text">
        <div class="fh1"><div><h1>THE BEACON TO ALL MANKIND</h1></div></div>
        <div class="fh1_2"><h1>Our website templates are created with</h1></div>
        <div class="fh1_2"><h1>inspiration, checked for quality and originality</h1></div>
        <div class="fh1_2"><h1>and meticulously sliced and coded.</h1></div>
        <div class="button"><div><a href="#">READ MORE</a ></div></div>
    </div>
</div>
<div class="container">
    <div class="images">
        <div class="imgcontainer">
            <div class="img">
                <a href=""><img src="../../../assets/images/the-father.jpg"></a>
            </div>
            <div>
                <h1>
                    the father
                </h1>
            </div>
        </div>
        <div class="imgcontainer">
            <div class="img">
                <a href=""><img src="../../../assets/images/the-actor.jpg"></a>
            </div>
            <div>
                <h1>
                    the actor
                </h1>
            </div>
        </div>
        <div class="imgcontainer">
            <div class="img">
                <a href=""><img src="../../../assets/images/the-nerd.jpg"></a>
            </div>
            <div>
                <h1>
                    the nerd
                </h1>
            </div>
        </div>
    </div>
</div>

