<div>
    <div class="h1">
        <h1 class="GALLERY">BLOG</h1>
    </div>
    <div class="container">
        <div class="card">
            <div class="imgbox"><a href=""><img src="../../../assets/images/cutting-mustache.jpg"></a></div>
            <div class="content">
                <div class="inf1"><h1>WHY I GREW A MUSTACHE</h1></div>
                <div class="inf2"><span>This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text.</span></div>
                <div class="inf3"><input class="button" type="button" value="READ THIS"></div>
            </div>
        </div>
        <div class="card">
            <div class="imgbox"><a href=""><img src="../../../assets/images/in-the-country.jpg"></a></div>
            <div class="content">
                <div class="inf1"><h1>IN THE COUNTRY</h1></div>
                <div class="inf2"><span>Want an easier solution for a Free Website? Head straight to Wix and immediately start customizing your website!</span></div>
                <div class="inf3"><input class="button" type="button" value="READ THIS"></div>
            </div>
        </div>
        <div class="card">
            <div class="imgbox"><a href=""><img src="../../../assets/images/mustache-brothers.jpg"></a></div>
            <div class="content">
                <div class="inf1"><h1>THE MUSTACHE BROTHERS</h1></div>
                <div class="inf2"><span>Wix is an online website builder with a simple drag & drop interface, meaning you do the work online and instantly publish to the web. Nothing to download, nothing to upload.</span></div>
                <div class="inf3"><input class="button" type="button" value="READ THIS"></div>
            </div>
        </div>
    </div>
</div>
